numpy
dicom2nifti
nibabel
pydicom
h5py
tqdm
SimpleITK
nilearn

# All scripts were tested under python 3.9 with the following package versions:
   
#dicom2nifti==2.3.3
#nibabel==3.2.2
#pydicom==2.3.0
#h5py==3.6.0
#tqdm==4.64.0
#SimpleITK==2.1.1.2
#nilearn==0.9.1
#numpy==1.22.3
